// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "card";
@import "form";


.container {
  padding: 30px 0;
  margin: 20px auto;

}
.form-link {
  padding: 10px 0;
}
