// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "card";
@import "form";
@import "footer";


.cards-container {
  padding: 20px 0;
  margin: 0 auto;

}
.form-link {
  padding: 10px 0;
}

#search-bar {
  margin: 0 auto;
  padding: 20px;
}
